* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(195, 193, 54, 1) 0%,
    rgba(0, 212, 255, 1) 94%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
}

.img-container {
  display: none;
}
.anime-img {
  border: solid 2px red;
  border-radius: 100%;

  background-color: white;
  max-width: 400px;
  max-height: 400px;
}

.mainbox h3 {
  font-size: 30px;
}
