*{
    margin: 0;
    padding: 0;
}

.nav1{
    box-shadow: 5px 5px 5px rgb(1 1 1 / 5%);
    background-color: white;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    padding: 10px;
}

.bar-logo{
    font-size: 30px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* padding: 0 100px; */
}

.container{
    max-width: 1200px;
    margin: 0 auto;    
}

.hero{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 100px;
    
}

.info-main{  

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}

.btn1{
    background-color:rgb(43, 180, 43);
    border: 0px;
    padding: 10px 10px;
    color: white;
}
.btn2{
    background-color:orange;
    border: 1px;
    padding: 10px 10px;
}



.info h2{
    font-size: 72px;
    margin-bottom: 10px;

}
.info p{
    font-size: 20px;
}


.section2{
    display: flex;
    
    justify-content: center;
    margin-top: 120px ;
    margin-bottom: 90px;   
}
.discount,.food,.home{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.discount:hover,.food:hover,.home:hover{
    box-shadow: 5px 5px 5px rgb(1 1 1 / 5%);

    border-radius: 2px;
    transition: 0.3s;
}


.divider{
    border: 1px solid rgb(203, 199, 199);
    margin: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
  }
  .menu .tag {
    align-self: center;
  }
  
  .grid-image {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
  }
  .grid-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
  }
  .grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
      "I1 I1 I2 I3"
      "I1 I1 I2 I7"
      "I4 I5 I6 I7";
  }
  
  .item1 {
    grid-area: I1;
  }
  .item2 {
    grid-area: I2;
  }
  .item3 {
    grid-area: I3;
  }
  .item4 {
    grid-area: I4;
  }
  .item5 {
    grid-area: I5;
  }
  .item6 {
    grid-area: I6;
  }
  .item7 {
    grid-area: I7;
  }
footer{
    background-color: antiquewhite;
    
}

.footers{
    display: flex;
    justify-content: space-between; 
    padding: 30px;
}
.footers h2{
    padding-bottom: 10px;
    color: rgb(166, 165, 165);
}

.footers h4{
    padding: 3px;
    font-size: 18px;
    font-weight: 100;
}

.support input{
    font-size: 15px;
    padding: 5px 40px;
    margin-bottom: 8px;
}

.icons{
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
    font-size: 35px;
}


@media (max-width: 785px){
   
    .hero{
        flex-direction: column;
    }
    .section2{
        flex-direction: column;
    }

   .pic{
    padding: 10px;
   }

   .footers{
    flex-direction: column;
   }
   .img1,.img2,.img3,.img4,.img5,.img6,.img7{

    border-radius: 0;
}


}
