*{
    margin: 0;
    padding: 0;
}

.nav1{
    box-shadow: 0px 2px rgba(1, 1, 1, 0.4);
    background-color: white;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.container{
    max-width: 1200px;
    margin: 0 auto;    
}

.hero{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 100px;
    
}

.info-main{  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

.btn1{
    background-color:rgb(43, 180, 43);
    border: 0px;
    padding: 10px 10px;
}
.btn2{
    background-color:orange;
    border: 1px;
    padding: 10px 10px;
}



.info h2{
    font-size: 72px;
    margin-bottom: 10px;

}
.info p{
    font-size: 20px;
}


.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px ;
    margin-bottom: 90px;   
}
.discount,.food,.home{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.discount:hover,.food:hover,.home:hover{
    box-shadow: 5px 5px 5px rgb(1 1 1 / 5%);

    border-radius: 2px;
    transition: 0.3s;
}


.divider{
    border: 1px solid rgb(203, 199, 199);
    margin: 20px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0px;
}

.tag{
    background-color: rgb(96, 208, 96);
    padding: 10px;
}
.menu h1{
    font-size: 40px;
}

.image1{
    grid-area: i1;
}

.image2{
    grid-area: i2;
}

.image3{
    grid-area: i3;
}

.image4{
    grid-area: i4;
}
.image5{
    grid-area: i5;
}
.image6{
    grid-area: i6;
}
.image7{
    grid-area: i7;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7{

    border-radius: 10px;
}
.img1:hover,.img2:hover,.img3:hover,.img4:hover,.img5:hover,.img6:hover,.img7:hover{
    
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.pic{
    display: grid;
    gap: 10px;

    grid-template-areas: 
    "i1 i1 i2 i3"
    "i1 i1 i2 i7"
    "i4 i5 i6 i7"
}
footer{
    background-color: antiquewhite;
    
}

.footers{
    display: flex;
    justify-content: space-between; 
    padding: 30px;
}
.footers h2{
    padding-bottom: 10px;
    color: rgb(166, 165, 165);
}

.footers h4{
    padding: 3px;
    font-size: 18px;
    font-weight: 100;
}

.support input{
    font-size: 15px;
    padding: 5px 40px;
    margin-bottom: 8px;
}

.icons{
    display: flex;
    /* justify-content: space-between; */
    gap: 15px;
    font-size: 35px;
}



